[Unit]
Description=Refresh multisite weekly metrics hourly

[Timer]
OnCalendar=*-*-* *:13:00
Persistent=true
AccuracySec=1min
RandomizedDelaySec=45s
Unit=multisite-weekly-collector.service

[Install]
WantedBy=timers.target
